.confirm_order_img img{
    width: 60%;
    height: auto;
}
.confirm_Order_text p
{
    padding-top: 20px;
}

@media(max-width:414px){
    .confirm_order_img img{
        margin-left: -20px;
        margin-top: 20px;
    }
}