

.card_detail_main {
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid lightgray;
}

.card_detail_main p {
    font-size: 22px;
    color: gray;
}

/* .Scroll_card {
    overflow-x: scroll;

} */

.card_detail_main1 {
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.card_detail_main1 p {
    font-size: 22px;
    color: gray;
}

.card_deatil_img img {
    width: 100%;
    height: auto;
    margin-top: -20px;
}

.card_detail_input ::-webkit-input-placeholder {
    color: black;
}

.card_detail_main2 {

    border-bottom: 1px solid lightgray;
}

.card_detail_main2 p {
    font-size: 18px;
    color: gray;
}


/* 
@media (max-width:414px) {
    .card_detail_scrolls p {
        margin-left: 300%;
    }

    .card_detail_price_scroll2 p {
        margin-left: 306%;
        margin-top: -100%;
        width: 100%;
    }

    .card_detail_input1 {
        margin-left: 390%;
        padding-top: -300%;
        width: 100%;

    }
} */


@media (max-width:414px) {
    .card_text101 p {
        font-size: 17px;
    }
    .card_text102 p{
        font-size: 15px;
        width: 140%;
    }
    .card_text103 p{
        font-size: 13px;
        width: 180%;
    }
    .card_text104 {
        margin-top: -5px;
    }
}

@media (max-width:414px) {
    .card_detail_scroll2 p {
        margin-left: 350%;
    }

}

@media (max-width:414px) {
    .card_detail_scroll3 p {
        margin-left: 500%;
        /* margin-right: 100%; */
    }
}