.our_meat_bg {
    background-image: url("../../Image/ourMeat1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.our_meat_text {

    text-shadow: 4px 2px black;
    font-size: 40px;
    padding: 15px;
    color: white;
    margin-top:60px;
    padding-top:50px;
    font-size: 900;
    font-family: Garamond, serif;
}

.our_Meat_main1 {
    text-align: center;
    font-size: 56px;
    /* color: rgb(25, 128, 102); */
    margin-bottom: 10px;
    margin-top: 50px;
    font-family: Garamond, serif;

}

.our_meat_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.our_meat_img1 img {
    width: 100%;
    height: auto;
    /* margin-left: 70px; */
}

.our_meat_text1 h1 {
    margin-top: 45px;
    font-weight: 900;
}

.our_meat_text5 h1{
    font-size:26px;
    color:black;
    margin-top: 50px;
    font-family: Garamond, serif;
}

@media (max-width:500px){
    .our_meat_text5 h1{
        margin-top: 60px;
    }
  }
  
  @media ((max-width:900px) and (min-width:501px)){
    .our_meat_text5 h1{
        margin-top:60px;
    }
  }
  

.Beef_main_imgs {
    gap: 43px;
    margin-top: 50px;
    justify-content: center;
}

.Beef_imgs p {
    text-align: center;
    font-size: 22px;
    color:black;
    font-weight: 450;
    padding-top: 20px;
    font-style: italic;

}
.Beef_imgs{
    border: 1px solid gray;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.Beef_imgs img {
    width: 100%;
    height: 30vh;
    transition: 1s;
    cursor: pointer;

}
.Beef_imgs img:hover{
    transform: scale(1.04);
}

.mutton_main {
    margin-top: 50px;
    gap: 55px;
    justify-content: center;
}

.mutton_main_imgs img {
    width: 100%;
    height: auto;
    transition: 1s;
    cursor: pointer;
}
.mutton_main img:hover{
    transform: scale(0.9);

}
.mutton_main_imgs p {
    text-align: center;
    font-size: 25px;
    color: rgb(109, 128, 109);
    font-weight: 450;
    padding-top: 20px;
    font-style: italic;
}
@media (max-width:450px)
{
    .our_Meat_main1{
        font-size: 35px;
    }

    .our_meat_text1 h1{
        margin-top: 35px;
    }
}



#imgportfolio {
    width: 400px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}

#imgportfolio img {
    width: 100%;
    height: 30vh;
}


#content121 {

    background-color: rgba(45, 85, 255,0.4);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    color: white;
    height:30vh;
    padding: 20px;
    box-sizing: border-box;
    transition: all 2s;
}

#imgportfolio:hover #content121 {
    left: 0;
}


